{% extends 'base.html' %}

{% block title %}{{ data.title }}{% endblock title %}

{% block author %}{{ data.author }}{% endblock author %}
{% block description %}{{ data.description }}{% endblock description %}
{% block keywords %}{% endblock keywords %}

{% block twtitle %}{{ data.title }}{% endblock twtitle %}
{% block twdescription %}{{ data.description }}{% endblock twdescription %}

{% block ogtitle %}{{ data.title }}{% endblock ogtitle %}
{% block ogdescription %}{{ data.description }}{% endblock ogdescription %}